<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-for实例</h1>
<hr>
<div id="app">
    <ul>
        <li v-for="item in sortitems">
              {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="(student,aaa) in sortStudents">
          {{aaa+1}}--{{student.name}}--{{student.age}}
        </li>
    </ul>
</div>
<script>
    var app=new Vue({
            el:'#app',
            data:{
                items:[10,12,6,8,8,50,65],
                students:[
                    {name:'xiaoxin ',age:26},
                    {name:'xiaoxin2',age:24},
                    {name:'xiaoxin3',age:16},
                    {name:'xiaoxin4',age:35}
                    ]
            },
        computed:{
                sortitems:function () {
                    return this.items.sort(sortnum)
                },
             sortStudents:function () {
                 return sortBykey(this.students,'age')
             }
        }
    })

    var app1=new Vue({
        el:'#app',
        data:{
            items:[10,52,32,2,3,45,69,85],
            students:[
                {name:'aa',age:'23'},
                {name:'bb',age:'22'},
                {name:'cc',age:'13'}
                ]
        },
        computed:{
            sottitems:function () {
                return this.items.sort(sortnum)
            },
            sottStudents:function () {
                return sortBykey(this.students,'age')
            }
        }
    })

    function sortnum(a,b) {
        return a-b
    }
    function sortBykey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
</script>
</body>
</html>