<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HEllo world</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-if&v-else&v-show</h1>
<hr>
<div id="app">
    <div v-if="isLogin">您已登录</div>
    <div v-else>请登录</div>
    <div v-show="isLogin">我显示</div>

    <div v-if="ispass">密码请输入</div>
    <div v-else>密码</div>
</div>
<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            isLogin:false,
            ispass:false
        }
    })
</script>
</body>
</html>