<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-module实例</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
<h1>v-module实例</h1>
<hr>
<div id="app">
    原始数据：{{message}} <br>
    <h3>文本框</h3>
    <div><p>v-module: <input type="text" v-model="message"></p></div>
    <div><p>v-module.lazy <input type="text" v-model.lazy="message"></p></div>
    <div><p>v-module.number <input type="text" v-model.number="message"></p></div>
    <div><p>v-module.trim <input type="text" v-model.trim="message"></p></div>
    <h3>文本域</h3>
    <div>
        <textarea name="" id="" cols="30" rows="10" v-model="message">aaa</textarea>
    </div>
    <hr>
    <input type="checkbox" id="one" v-model="istrue">
    <label for="one">她是 <b style="display: block;color: red;">{{istrue}}</b></label>
</div>
<script>
    var vue=new Vue({
        el:'#app',
        data:{
            message:'jssong11111',
            istrue:'true'
        }
    })
</script>

</body>
</html>